.Home {
    height: min-100vh;
}

#homeGrid {
    display: grid;
    grid-template-rows: 110px 100%;
    grid-template-columns: 350px auto;
    margin: 0;
}

#letterCreateBtn {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 50;

    text-align: center;
    line-height: 93px;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--point-color);
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0, 0.2);

    color: white;
    font-size: 50px;
    font-weight: bold;
}
