@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #f5f7fa;
  --border-color: #c3d5e1;
  --font-color: #9cbcd2;
  --point-color: #28cdc8;
  --white-color: white;
  --red-color: rgb(255, 207, 207);
  --orange-color: rgb(255, 227, 201);
  --yellow-color: rgb(255, 253, 202);
  --green-color: rgb(209, 255, 212);
  --blue-color: rgb(203, 233, 255);
  --purple-color: rgb(231, 203, 255);
  --black-color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
}

textarea {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  line-height: 150%;

  border: 2px solid var(--bg-color);
  outline-color: var(--point-color);
}
textarea::placeholder {
  color: var(--border-color);
}

input {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  line-height: 150%;

  border: 2px solid var(--bg-color);
  outline-color: var(--point-color);

  padding: 20px;
}
input::placeholder {
  color: var(--border-color);
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--border-color);
}