.LetterList {
    background-color: var(--bg-color);
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    min-height: 88vh;
}

#letterListGrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
}