.PaperList {
    background-color: var(--bg-color);
    z-index: -100;
}

#paperListGrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
}