#titleTextarea {
    width: 660px;
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
}

#contentsTextarea {
    width: 660px;
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;
}

#authorTextarea {
    width: 40%;
    padding: 10px 20px;
}