.Password {
  display: flex;
  align-items: center;
  width: 50%;
  height: 60px;
  border-radius: 50px;
  background-color: var(--bg-color);
  justify-content: space-between;
}

#passwordText {
  background-color: transparent;
  width: 140px;
  border: none;
  outline: none;
}

.passwordBtn {
  width: 70px;
  height: 40px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  margin: 5px;
  justify-content: center;
  color: var(--font-color);
  display: flex;
  text-align: center;
  align-items: center;
}

.right {
  margin-right: 13px;
}
